%table 
  %tr 
    %td
      %br
      %h3 Summary
      %h5 
        Education and Experience
      %ul
        %li BA Computer Science and Information Technologies
        %li Web developer with 2(+3) years experience 
      %h5 Skills
      %ul 
        %li Ruby on Rails
        %li JavaScript/CoffeeScript
        %li XHTML, CSS
        %li Linux(ubuntu)
        %li Git
    %td
      =image_tag "me.png", class: 'pull-right'