
%table
	%tr
		%td
			%a(href='http://biddit-demo.heroku.com')
				=image_tag 'kiosk.png'
		%td
			'Biddit' is a cloud based silent auction management solution. It allows for a replacement of the typical charity event silent auction 'paper and pan' format, with a touch screen kiosks or phone/tablet app
			%br
			%h5
				Please contact me for a tour!
			
	%tr
		%td
			%a(href='http://restate-us.heroku.com')
				=image_tag 'restate.png'
		%td
			Single page application I created while learning AngularJS
