%br
%br
%table
  %tr
    %a#pdf(href="/resume.pdf")
      %img(src="/assets/pdf.ico")
    %th#header(colspan = '2' )
      %H1 Dimitar A. Ginev
      %p
        230 33rd str.
        %br
        Brigantine, NJ 08203
        %br 
        Phone (609) 742-2064, Email: gindio@gmial.com
  %tr#objective
    %td.title
      OBJECTIVE: 
    %td.description
      To obtain a position as a computer programer / web developer.
  %tr#education
    %td.title
      EDUCATION:
    %td.description
      %strong
        The Richard Stockton College of New Jersey, Pomona, New Jersey
      %br
      BA in Computer Science & Information Systems
      %br
      %strong
        Atlantic County Community College, Mays Landing, New Jersey 
      %br
      Associate of Science in Computer Programing

  %tr#skills
    %td.title
      SKILLS:
    %td.description
      Object Oriented Programming, TDD
      %br
      %strong
        Programing Languages:
      %br
      Ruby, JavaScript/CoffeeScript, HTML5/CSS(hand-written), C#, SQL
      %br
      %strong
        Frameworks, Libraries and Tecnologies :
      %br
      Ruby on Rails, Angularjs, ASP.Net, JQuery, AJAX, PhoneGap, HTML::Template
      %br
      %strong
        Databases:
      %br
      mySQL, MS SQL
  %tr#experience
    %td.title
      EXPERIENCE:
    %td.description
      %H4
        Web Aplication Developer
        %br
        %em
          Vineland, NJ - lucidfrog.com
          %span.pull-right
            6/12 - 7/13
      %br
      
      %ul
        %li 
          %em 
            Responsibilities - Main developer of 'biddit' auction management software using Ruby on Rails.
          %p
            'Biddit' is a cloud based silent auction management solution. It allows for a replacement of the typical charity event silent auction 'paper and pan' format, with a touch screen kiosks or   phone/tablet app. The clients (phone, kiosk) connect to the main application(RoR) which is responsible for keeping track of bids, patrons, payment transactions, etc. The application has two parts. One is patron-facing - what event-patrons see during an event – leader board, bidding kiosk and phone app. The second is event-management, which includes 'check-in/out', reporting and product inventory. 
      %ul
        %li
          %em
            Contribution to the project 
          %ul
            %li
              %em
                Wrote a test suit, and refactored a large part of the application -   
              %p   
                when I joined the project no tests existed. As I was working on improving the existing code and adding new features I added over 100 Rspec tests (unit tests, as well as some controller tests) 
            %li
              %em
                Added new features like “check-in/out” which handles split  payments(cash, check, credit card), patron check-in, “pledge kiosk”, reporting, etc. - 
              %p
                The check-in/out page is one page javascript application, meaning that all checkin and checkout activities like - adding new patrons, editing patron info, viewing and editing patron   shopping cart, completing credit card/cash/check payments - are done using AJAX calls to the back-end without changing pages (used  AngularJS). All JavaScript was compiled from Coffeescript source. 
        %li
          %em
            Worked on the mobile app.-
          I had some exposure to writing a mobile app using the Phone Gap framework.
      %h4
        Freelance Web developer 
        %br
        %em
          realtimerental.com
          %span.pull-right
            10/2009 - 7/2012
      %br
      Various projects including:
      %ul
        %li
          Maintained/debugged existing classic ASP code
        %li
          Replaced existing VBscript with Javascript 
        %li
          Added new modules using ASP.NET
        %li 
          Created Credit card processing module - SlimCD
        %li
          Created ACH (electronic checks payment) module - CheckGateway
      %h4
        Web Developer
        %br
        %em
          Egg Harbor Township, NJ - reservevacations .com  inc.     
          %span.pull-right
            7/2008 - 10/2009
      %ul
        %li
          Maintained existing website - travelape.com,  and developing a new one - reservevacations.com  
        %li
          Re-created web pages from photoshop mock-ups in Dreamweaver, using HTML, CSS, AJAX
        %li
          Utilized HTML::Template for embedding dynamically generated content (PERL on the back-end)
          %li 
            Wrote a shell script for automatic set-up of multiple WordPress websites
