%table
	%tr
		%th#header(colspan = '2' )
			%H1 Dimitar A. Ginev
			%p
				230 33rd str.
				%br
				Brigantine, NJ 08203
				%br 
				Phone (609) 742-2064, Email: gindio@gmial.com
	%tr#objective
		%td.title
			OBJECTIVE: 
		%td.description
			To obtain a position as a computer programer / web developer.
	%tr#education
		%td.title
			EDUCATION:
		%td.description
			%strong
				The Richard Stockton College of New Jersey, Pomona, New Jersey
			%br
			BA in Computer Science & Information Systems
			%br
			%strong
				Atlantic County Community College, Mays Landing, New Jersey 
			%br
			Associate of Science in Computer Programing

	%tr#skills
		%td.title
			SKILLS:
		%td.description
			Object Oriented Programming, TDD
			%br
			%strong
				Programing Languages:
			%br
			Ruby, JavaScript/CoffeeScript, HTML5/CSS(hand-written), C#, SQL
			%br
			%strong
				Frameworks, Libraries and Tecnologies :
			%br
			Ruby on Rails, Angularjs, ASP.Net, JQuery, AJAX, PhoneGap, HTML::Template
			%br
			%strong
				Databases:
			%br
			mySQL, MS SQL

