%a#pdf(href="/resume.pdf")
      %img(src="/assets/pdf.png")
%iframe(src="http://docs.google.com/viewer?url=http%3A%2F%2Fwww.ginev.info/resume.pdf&embedded=true" width="100%" height="1000" style="border: none;")
