// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: url(/assets/bg-siteindex.jpg)
 }

.navbar-inner a{
	color: #898299
}

h2 {
	font-family: sans	
}

h4 {
	font-family: serif
}

li {
	font-family: Times;
	line-height: 2em
}