@import 'prettyPhoto'

.site 
  margin-bottom: 30px
  width: 100%
.img
  width: 49%
  float: left
.description
  margin-left: 10px
  float: left
  width: 49%
.img
  .biddit-screen 
    img
      float: left
      width: 200px
      height: 130px
      margin: 2px
