#pdf
  position: fixed
  top: 90px
  right: 0px

  

table
  width: 70%
  td
    padding: 10px
    vertical-align: top

.title
  font-weight: bold
  font-family: 'Gilda Display' 

.description
  strong
    line-height: 1.5em

